*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.main-panel {
  padding: 50px 300px;
}

.panel-box {
  width: 100%;
  height: 820px;
  border: 1px solid gray;
}

.panel-top {
  display: flex;
  height: 75%;
  border-bottom: 1px solid gray;
}

.panel-left {
  display: block;
  padding: 40px 50px;
  width: 20%;
  height: 100%;
  border-right: 1px solid gray;
}

.panel-main {
  position: relative;
  width: 80%;
}

.panel-footer {
  height: 25%;
}

.foot-keys {
  display: flex;
  gap: 50px;
  height: 100%;
  overflow: auto;
}

#toolbox {
  position: absolute;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
}

#tool-title {
  padding: 10px;
  cursor: move;
  background-color: #2196F3;
  border-radius: 8px 8px 0 0;
  color: #fff;
}

#tool-icon {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

#tool-icon img {
  width: 20px;
}

#tool-icon img:hover {
  cursor: pointer;
  background-color: #2196F3;

}

#refresh {
  position: absolute;
  width: 30px;
  top: 15px;
  left: 95%;
}

#refresh:hover {
  cursor: pointer;
}

.panel-left li{
  list-style-type: none;
  
  font-size: 20px;
}